<!DOCTYPE html>
<html>
<head>
<title>View Students</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-4">

<h2 class="mb-3">Students List</h2>

<form method="GET" class="mb-3">
<div class="input-group">
<input class="form-control" name="search" placeholder="Search by Name">
<button class="btn btn-primary">Search</button>
</div>
</form>

<table class="table table-bordered table-striped">
<tr>
<th>ID</th>
<th>Name</th>
<th>Roll No</th>
<th>English</th>
<th>Math</th>
<th>Physics</th>
<th>Chemistry</th>
<th>Computer</th>
<th>Total</th>
<th>Percentage</th>
<th>Action</th>
</tr>

{% for s in students %}
<tr>
<td>{{ s.student_id }}</td>
<td>{{ s.name }}</td>
<td>{{ s.roll_no }}</td>
<td>{{ s.english }}</td>
<td>{{ s.mathematics }}</td>
<td>{{ s.physics }}</td>
<td>{{ s.chemistry }}</td>
<td>{{ s.computer_science }}</td>
<td>{{ s.total }}</td>
<td>{{ s.percentage }}</td>
<td>
<a href="/update/{{ s.student_id }}" class="btn btn-warning btn-sm">Edit</a>
<a href="/delete/{{ s.student_id }}" class="btn btn-danger btn-sm">Delete</a>
</td>
</tr>
{% endfor %}

</table>

<a href="/admin_dashboard" class="btn btn-secondary">Back</a>

</body>
</html>